{% extends "base.html" %}

{% block main %}
{% include 'flash_messages.html' %}

<h1>Secure Page</h1>
<p>The COVID-19 pandemic has had a major effect on our lives. Many of us are facing challenges that can be stressful, overwhelming, and cause strong emotions in adults and children. Public health actions, such as social distancing, are necessary to reduce the spread of COVID-19, but they can make us feel isolated and lonely and can increase stress and anxiety. Learning to cope with stress in a healthy way will make you, the people you care about, and those around you become more resilient.</p>
{% endblock %}