{% extends "base.html" %}

{% block main %}
{% include 'flash_messages.html' %}

<h1>Welcome</h1>

<p>Hello Users! Welcome to the Meal Plan Application. This Application will allow you to: </p>
    <ul>
   <li>track the creation date of a recipe</li> 
<li>Plan meals for the week</li>
<li>Generate a supermarket list based on the planned meals</li>
<li>Keep track of available ingredients in the kitchen</li>
<li>Keep track of the calorie count for the planned meals</li>
<li>Request the creation of meals based on specific calories</li>
<li>Upload Images of meals</li>
<li>Input servings of each meal</li>
<li>Search for recipes</li>

</ul> 
<!--<p>The COVID-19 pandemic has had a major effect on our lives. Many of us are facing challenges that can be stressful, overwhelming, and cause strong emotions in adults and children. Public health actions, such as social distancing, are necessary to reduce the spread of COVID-19, but they can make us feel isolated and lonely and can increase stress and anxiety. Learning to cope with stress in a healthy way will make you, the people you care about, and those around you become more resilient.</p>
--->
{% endblock %}